<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HIKING VIKING</title>
        <link rel="stylesheet" href="assets/style.css">
        <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>HIKING VIKING</h1>
            <p>Welcome to Hiking Viking! Please enter your
                login information below
                and we will direct you to trail Valhalla!</p>
          
            <form>  
                <div class="container">   
                    <label>Username : </label>   
                    <input type="text" placeholder="Enter Username" name="username" required>  
                    <label>Password : </label>   
                    <input type="password" placeholder="Enter Password" name="password" required>  
                    <button type="submit">Login</button>   
                    <input type="checkbox" checked="checked"> Remember me   
                    <button type="button" class="cancelbtn"> Cancel</button>   
                    Forgot <a href="#"> password? </a>   
                </div>   
            </form>     
            
        </header>

        
        <script src="script.js"></script>
    </body>
</html>